<div class="col-md-12">
  <h2>{{page_title}}</h2>

  <form #newTarea="ngForm" (ngSubmit)="onSubmit(newTarea)" class="col-md-5">

    <select name="id_tarea" class='form-control' [(ngModel)]="opcionSeleccionado">
      <option value="undefined">------------</option>
      <option *ngFor="let pepe of tarea" [value]="pepe.id">{{pepe.tarea}}</option>
    </select>
    <p>
      <label for="horas">Horas</label>
      <input type="number" min="1" max="8" name="horas" #hora="ngModel" [(ngModel)]="tarea_rea.horas" required
        class="form-control" />
    </p>
    <p>
      <label for="fecha">Fecha Realizada</label>
      <input type="date" name="fecha" #fecha="ngModel" [(ngModel)]="tarea_rea.fecha_realizada" required
        class="form-control" />

    </p>
    <button mat-raised-button color="primary" type="submit" [disabled]="!newTarea.form.valid">Guardar</button>
    <!-- <input type="submit" value="Guardar Tarea" class="btn btn-success"  /> -->
  </form>
</div>
