<h1>{{page_title}}</h1>
<div class="table-responsive">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <!-- <th>Id</th> -->
      <th>Nombre</th>
      <th>Email</th>
      <th>Informacion</th>
    </tr>
  </thead>
  <tbody *ngFor="let el of usuarios">
    <tr *ngIf="el.Activo == 1">
      <!-- <th scope="row">{{el.id}}</th> -->
      <td>{{el.name}}</td>
      <td>{{el.email}}</td>
      <td><button mat-raised-button color="primary" (click)="getInfo(el)">Ver información </button></td>
    </tr>
  </tbody>
</table>
</div>
