<h1>{{page_title}}</h1>
<div class="table-responsive">
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Rol asignado</th>
      <th>Activar</th>
      <th>Modificar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let el of usuarios">
      <th scope="row">{{el.id}}</th>
      <td>{{el.name}}</td>
      <td>{{el.email}}</td>
      <td *ngIf="el.role_id == 1">Administrador</td>
      <td *ngIf="el.role_id == 2">Empresario</td>
      <td *ngIf="el.role_id == 3">Trabajador</td>
      <td *ngIf="el.Activo == 0"><button value="{{el.id}}" mat-raised-button color="primary"
          (click)="Activar(el)">Activar Usuario</button></td>
      <td *ngIf="el.Activo == 1"><button mat-raised-button color="warn" (click)="Desactivar(el)">Desactivar
          Usuario</button></td>
      <td><button mat-raised-button color="primary" value="{{el.id}}" (click)="Modificar(el)">Modificar</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
<button mat-raised-button color="primary" (click)="exportAsXLSX()">Export as XLSX</button>

<button [routerLink]="['/crear-usuarios']" class="btn btn-primary " style="float:right" type="button">Crear
  usuarios</button>
