<form #modifyForm="ngForm" (ngSubmit)="onSubmit(modifyForm)" class="col-md-5">

  <p>
    <label for="password">Contraseña</label>
    <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required
      class="form-control" />
    <span *ngIf="!password.valid && password.touched">La contraseña no es válida </span>
  </p>

  <button type="submit" mat-raised-button color="accent" [disabled]="modifyForm.form.invalid">Guardar</button>
  <span>&nbsp;</span>
  <!-- <input type="reset" value="Reset" class="btn btn-danger "> -->
  <button mat-raised-button color="warn" type="reset">Reset</button>
  <button [routerLink]="['/admin-users']" mat-raised-button color="primary" style="float:right">Volver al
    panel</button>
</form>
