<h1>{{page_title}}</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <!-- <th>Id</th> -->
      <th>Fecha Realizada</th>
      <th>Horas</th>
      <th>Informacion</th>
    </tr>
  </thead>
  <tbody *ngFor="let el of tareas">
    <tr *ngIf="el.id_tarea === 1" bgcolor="#56e2ff"  >
      <!-- <th scope="row">{{el.id}}</th> -->
      <td>{{el.fecha_realizada}}</td>
      <td>{{el.horas}}</td>
      <td>{{el.tarea}}</td>
    </tr>
    <tr  *ngIf="el.id_tarea === 2" bgcolor="#3470d1" >
      <!-- <th scope="row">{{el.id}}</th> -->
      <td>{{el.fecha_realizada}}</td>
      <td>{{el.horas}}</td>
      <td>{{el.tarea}}</td>
    </tr>
    <tr  *ngIf="el.id_tarea === 3" bgcolor="#75aaff" >
      <!-- <th scope="row">{{el.id}}</th> -->
      <td>{{el.fecha_realizada}}</td>
      <td>{{el.horas}}</td>
      <td>{{el.tarea}}</td>
    </tr>
  </tbody>
</table>
<button mat-raised-button color="primary" (click)="exportAsXLSX()">Export as XLSX</button>
