<header id="header">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="../assets/img/Logo.png" id="foto"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['home']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" *ngIf="identity">
          <a class="nav-link pe" *ngIf="identity.role == 3 " style="float: left !important;"
            [routerLink]="['crear-registro']">Registrar sesion </a>
          <a class="nav-link pe" *ngIf="identity.role == 3 " style="float: left !important;"
            [routerLink]="['all-registro']">Sesiones</a>
          <a class="nav-link pe" *ngIf="identity.role == 1 " style="float: left !important;"
            [routerLink]="['admin-users']">Administrar Usuarios </a>
          <a class="nav-link pe" *ngIf="identity.role == 2 " style="float: left !important;"
            [routerLink]="['empleados']">Ver trabajadores</a>
        </li>
        <!-- Para comprobar por role el identity  -->
      </ul>
      <form class="form-inline my-2 my-lg-0" *ngIf="!identity">
        <a [routerLink]="['login']">Login</a>
      </form>
      <form class="form-inline my-2 my-lg-0" *ngIf="identity">
        <a class="pe1" [routerLink]="['modify-password']">{{identity.name}}</a>
        <a>&nbsp;</a>
        <a [routerLink]="['logout',1]">Salir</a>
      </form>
    </div>
  </nav>
</header>
<!--hago que me cargue la ruta que estoy-->
<router-outlet></router-outlet>