<div class="col-md-12">
  <h2>{{page_title}}</h2>

  <form #newTarea="ngForm" (ngSubmit)="onSubmit(newTarea)" class="col-md-5">

    <select name="id_tarea" class='form-control' [(ngModel)]="Tarea.id_tarea">
      <option value="undefined">------------</option>
      <option *ngFor="let pepe of tarea" [value]="pepe.id">{{pepe.tarea}}</option>
    </select>
    <p>
      <label for="hora">Horas</label>
      <input type="number" name="hora"  min="1" max="8" #hora="ngModel" [(ngModel)]="Tarea.horas" required class="form-control" />
    </p>
    <p>
      <label for="fecha">Rol Asignado</label>
      <input type="date" name="fecha" #fecha="ngModel" [(ngModel)]="Tarea.fecha_realizada" required
        class="form-control" />
    </p>
    <button type="submit" mat-raised-button color="primary" [disabled]="newTarea.form.invalid" >Guardar Tarea</button>

  </form>
</div>
