<h1>{{title}}</h1>


<p>A través de esta aplicación vas a poder controlar a tus trabajadores y cumplir con la ley Real Decreto-ley 8/2019, de 8 de marzo, que lucha contra la precariedad laboral.</p>

<img src="../../../assets/img/Agencia_Tributaria.svg.png" style="width: 150px; height: 150px;" class="img-fluid">
