<form #modifyForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-5">
  <p>
    <label for="name">Nombre</label>
    <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required class="form-control" />
    <span *ngIf="!name.valid && name.touched">El nombre no es válido </span>
  </p>
  <p>
    <label for="email">Email</label>
    <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required class="form-control" />
    <span *ngIf="!email.valid && email.touched">El email no es válido </span>
  </p>
  <p>
    <label for="role_id">Rol Asignado</label>
    <select name="role_id" class='form-control' #role_id="ngModel" [(ngModel)]="user.role_id">
      <option value="undefined">------------</option>
      <option *ngFor="let pepe of role" [value]="pepe.id">{{pepe.name}}</option>
    </select>
  </p>
  <p>
    <label for="Activo">Desactivado por defecto</label>
    <input value="0" type="hidden" name="Activo" #Activo="ngModel" [(ngModel)]="user.Activo" required
      class="form-control" />
  </p>
  <p >
    <label for="password">Contraseña</label>
    <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required
      class="form-control" />
    <span *ngIf="!password.valid && password.touched">La contraseña no es válida </span>
  </p>

  <button type="submit" mat-raised-button color="accent" [disabled]="modifyForm.form.invalid">Guardar</button>
  <span>&nbsp;</span>
  <!-- <input type="reset" value="Reset" class="btn btn-danger "> -->
  <!-- <button mat-raised-button color="warn" type="reset">Reset</button> -->
  <button [routerLink]="['/admin-users']" mat-raised-button color="primary" style="float:right">Volver al
    panel</button>
</form>
